# IDE folders
.idea/
.vscode/
./src-ui/.vscode
# OS turds
.DS_Store
# VCS
.git
.github
# App files
*.http
*.sql
.env
.env.example
.gitignore
app.json
flake.lock
flake.nix
fly.toml
http-client.private.env.json
LICENSE
Procfile
README.md
docker-compose.yml
