name: Build
on:
  - push
  - pull_request

env:
  NAME: gobot

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS: [ windows, linux ]
        GOARCH: [ amd64, arm ]
        exclude:
          - GOOS: windows
            GOARCH: arm

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'

      - name: Build
        env:
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}
        run: go build -ldflags="-s -w" -o dist/$NAME-$GOOS-$GOARCH

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Rename binaries (Windows)
        if: matrix.GOOS == 'windows'
        run: for x in dist/$NAME-windows-*; do mv $x $x.exe; done

      - name: Upload binary
        uses: actions/upload-artifact@v6
        with:
          name: ${{env.NAME}}-${{ matrix.GOOS }}-${{ matrix.GOARCH }}-${{github.sha}}
          path: dist/*
          retention-days: 90

